<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    @System.Web.Optimization.Styles.Render("~/Content/themes/base/css")
</head>
<body>

    <header class="page-header">
        <div>
            <a id="indexHeaderLogo" href="@Url.Content("~/")">
                <h1 class="logo">Jednoślad</h1>
            </a>


            <a class="menu-item" href="@Url.Action("StronyStatyczne", "Home", new { nazwa = "Onas" })" style="">O nas</a>
            <a class="menu-item" href="@Url.Action("StronyStatyczne", "Home", new { nazwa = "Pomoc" })" style="">Pomoc</a>
            <a class="menu-item" href="@Url.Action("StronyStatyczne", "Home", new { nazwa = "Regulamin" })" style="">Regulamin</a>

            <a id="koszykHeaderLink" href="@Url.Action("Index", "Koszyk")">
                <img class="basket-icon" src="../Content/Images/basket.png" alt="Ikona koszyka" />
                 (<span id="koszyk-naglowek-ilosc-elementow">@Html.Action("PobierzIloscElementowKoszyka", "Koszyk")</span>)
               
                
            </a>

            @Html.Partial("_LoginPartial")
        </div>
    </header>


    <div class="container">
        @RenderBody()

        
            <footer>


                <div>
                    Copyright &copy; 2017 Krzeszo
                </div>
            </footer>
  

        @RenderSection("Scripts", required: false)
    </div>


</body>
</html>