<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    @System.Web.Optimization.Styles.Render("~/Content/themes/base/css")
</head>
<body>
    <header>
        <div style="overflow: hidden;">
            <a id="koszykHeaderLink" href="@Url.Action("Index", "Koszyk")">
                Koszyk (<span id="koszyk-naglowek-ilosc-elementow">@Html.Action("PobierzIloscElementowKoszyka", "Koszyk")</span>)
                <span></span>
            </a>

            @Html.Partial("_LoginPartial")

            <a id="indexHeaderLogo" href="@Url.Content("~/")">
                <h1 class="center">Komis motorowy</h1>
            </a>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer>
        <nav>
            <ul>
                @*alternatywny sposób*@
                <li>@Html.ActionLink("Onas", "StronyStatyczne", "Home", new { nazwa = "O nas" }, null)</li>          
                <li><a href="@Url.Action("StronyStatyczne", "Home", new { nazwa = "Oferta" })" style="">Oferta</a></li>
                <li><a href="@Url.Action("StronyStatyczne", "Home", new { nazwa = "Regulamin" })" style="">Regulamin</a></li>
                <li><a href="@Url.Action("StronyStatyczne", "Home", new { nazwa = "Logowanie" })" style="">Logowanie</a></li>
                <li><a href="@Url.Action("StronyStatyczne", "Home", new { nazwa = "Rejestracja" })" style="">Rejestracja</a></li>

            </ul>
        </nav>
       
        <div>
            Copyright &copy; 2017 Krzeszo
        </div>
    </footer>

    @RenderSection("Scripts", required: false)

</body>
</html>