<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" />
</head>
<body>
    <header class="page-header">
        <div style="overflow: hidden; margin-bottom: 30px;">

            <a id="indexHeaderLogo" href="@Url.Content("~/")">
                <h1 class="logo">Jednoślad</h1>
            </a>

            
            <a class="menu-item" href="@Url.Action("Index", "Manage")">
                Twoje dane
            </a>
            <a class="menu-item" href="@Url.Action("ListaZamowien", "Manage")">
                Zamówienia
            </a>


            <a id="koszykHeaderLink" href="@Url.Action("Index", "Koszyk")">
                KOSZYK (<span id="koszyk-naglowek-ilosc-elementow">@Html.Action("PobierzIloscElementowKoszyka", "Koszyk")</span>)
                <span id="cart-header-logo"></span>
            </a>
            @Html.Partial("_LoginPartial")
        </div>
       
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <div class="container">
        <footer>


            <div>
                Copyright &copy; 2017 Krzeszo
            </div>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)

</body>
</html>
