@model Komis_motocykli.ViewModels.HomeViewModel
@using Komis_motocykli.Infrastructure

@{
    ViewBag.Title = "Komis motocykli";
    Layout = "~/Views/Shared/_RightSectionLayout.cshtml";
}





<section>


    <ul class="KursyTrzyKolumny duzaListaKursy">
        @foreach (var nowe in Model.Nowe)
            {
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="@Url.Action("DodajDoKoszyka","Koszyk", new { id = nowe.MotocyklId})">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="@Url.Action("Szczegoly", "Motocykle", new { id = nowe.MotocyklId})">
                        <div class="newFlag"></div>
                        <img class="kurs" src="@Url.ObrazkiSciezka(nowe.NazwaPlikuObrazka)" />
                        <h1>
                            @nowe.NazwaMotoru - @nowe.CenaMotoru
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>
</section>

<section>
    <ul class="KursyTrzyKolumny duzaListaKursy">
        @foreach (var uzywane in Model.Uzywane)
            {
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="@Url.Action("DodajDoKoszyka","Koszyk", new { id = uzywane.MotocyklId})">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="@Url.Action("Szczegoly", "Motocykle", new { id = uzywane.MotocyklId})">

                        <img class="kurs" src="@Url.ObrazkiSciezka(uzywane.NazwaPlikuObrazka)" />
                        <h1>
                            @uzywane.NazwaMotoru - @uzywane.CenaMotoru
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>
</section>




