@model Komis_motocykli.ViewModels.HomeViewModel
@using Komis_motocykli.Infrastructure

@{
    ViewBag.Title = "Komis motocykli";
}

<nav class="kategorieHorizontal">
    <ul>
        @foreach (var kategoria in Model.Kategorie)
            {
            <li>
                <a href="@Url.Action("Lista", "Motocykle", new { nazwaKategori = kategoria.NazwaKategorii.ToLower()} )">
                   @kategoria.NazwaKategorii
                </a>
            </li>
        }
    </ul>
    <a href="link">
        <img id="baner" src="../Content/Images/baner.png" />
    </a>
</nav>

<section>
    <ul class="KursyTrzyKolumny duzaListaKursy">

        @foreach (var nowosc in Model.Nowe)
        {
        <li>
            <article>
                <a class="dodajDoKoszykaLink" href="@Url.Action("DodajDoKoszyka", "Koszyk", new { id = nowosc.MotocyklId})">
                    <img src="../Content/Images/koszyk.png" />
                </a>
                <a class="kursSzczegolyLink" href="@Url.Action("Szczegoly", "Motocykle", new { id = nowosc.MotocyklId })">
                    <div class="newFlag"></div>
                    <img class="kurs" src="@Url.ObrazkiSciezka(nowosc.NazwaPlikuObrazka) " />
                    <h1>
                        @nowosc.NazwaMotoru - @nowosc.CenaMotoru
                    </h1>
                </a>
            </article>
        </li>
        }
    </ul>
</section>

<section>
    <ul class="KursyTrzyKolumny duzaListaKursy">

        @foreach (var uzywany in Model.Uzywane)
        {
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="@Url.Action("DodajDoKoszyka", "Koszyk", new { id = uzywany.MotocyklId})">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="@Url.Action("Szczegoly", "Motocykle", new { id = uzywany.MotocyklId })">
                       
                        <img class="kurs" src="@Url.ObrazkiSciezka(uzywany.NazwaPlikuObrazka) " />
                        <h1>
                            @uzywany.NazwaMotoru - @uzywany.CenaMotoru
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>
</section>

