@model IEnumerable<Komis_motocykli.Models.Motocykl>
@using Komis_motocykli.Infrastructure


<div id="SekcjaListaKategori">
    <section>
        <ul class="KursyTrzyKolumny duzaListaKursy">
            @foreach (var motocykl in Model)
            {
                <li>
                    <article>
                        <a class="dodajDoKoszykaLink" href="@Url.Action("DodajDoKoszyka","Koszyk", new { id = motocykl.MotocyklId})">
                            <img src="../Content/Images/koszyk.png" />
                        </a>
                        <a class="kursSzczegolyLink" href="@Url.Action("Szczegoly", "Motocykle", new { id = motocykl.MotocyklId})">

                            <img class="motocykl" src="@Url.ObrazkiSciezka(motocykl.NazwaPlikuObrazka)" />
                            <h1>
                                @motocykl.NazwaMotoru - @motocykl.CenaMotoru
                            </h1>
                        </a>
                    </article>
                </li>
            }
        </ul>
    </section>
    </div>

