@model Komis_motocykli.Models.Motocykl
@using Komis_motocykli.Infrastructure

@{
    ViewBag.Title = "Szczegoly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ListaKategoriZawartosc">
    @Html.Action("KategorieMenu")
    <div id="KategorieListPrawaSekcja">


        <section id="Sekcja">
            <div id="KomisLewa">
                <img src="@Url.ObrazkiSciezka(Model.NazwaPlikuObrazka)" />
            </div>
            <div id="KomisPrawa">
                <div id="KomisNazwa">
                    <h1>
                        @Model.NazwaMotoru
                    </h1>
                    <h2>
                        @Model.Pojemnosc
                    </h2>
                </div>
                <div id="KomisCena">
                    <div class="cena">
                        @Model.CenaMotoru <span>PLN</span>

                    </div>
                <div class="button">
                    <a href="@Url.Action("DodajDoKoszyka", "Koszyk", new { id = Model.MotocyklId} )"><img src="~/Content/Images/basket2.png" alt="Alternate Text" /></a>
                </div>
                </div>
              
                <div class="motor-opis">
                    @Model.OpisMotoru
                </div>
                <div class="motor-info">
                    @Model.OpisSkrocony
                </div>

            </div>
        </section>
    </div>
</div>
